{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'update.css' %}">

    <title>update</title>
</head>
<body>
    <div class="heading">
        <strong>
            TODO LIST
        </strong>
    </div>
    <div class="formdiv">
        <form action="update" method="POST">
            {% csrf_token %}
            <strong>
                TaskTitle: <input type="text" value="{{context.title}}" name="TaskTitle"/>
            </strong>
                    <input id='button' type="submit" value="click to update" />
            
        </form>

    </div>
</body>
</html>